{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Verjaardag Maarten & Anja</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <!-- =======================================================
    Theme Name: Regna
    Theme URL: https://bootstrapmade.com/regna-bootstrap-onepage-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

  <!--==========================
  Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <!--<a href="#hero"><img src="img/logo.png" alt="" title="" /></img></a>-->
        <!-- Uncomment below if you prefer to use a text logo -->
        <h1><a href="#hero">Maarten & Anja</a></h1>
        <div id="under">
          <h4><a href="#hero">Abraham & Sarah</a></h4>
        </div>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#hero">Home</a></li>
          <li><a href="#about">Over Ons</a></li>
          <li><a href="#services">Het Weekend</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="#portfolio">Genodigden</a></li>
          <li><a href="#team">Locatie</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Hero Section
  ============================-->
  <section id="hero">
    <div class="hero-container">
      <h1>Welkom</h1>
      <h2>Vind hier alle informatie over onze verjaardag!</h2>
      <a href="#about" class="btn-get-started">Over ons</a>
    </div>
  </section><!-- #hero -->

  <main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">
        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2">
            <h2 class="title">Eerst wat over ons</h2>
            <p>
              Bijna 50 jaar geleden geboren en bijna 35 jaar samen! Het lijkt ons superleuk om samen met jullie onze verjaardagen te vieren: op een prachtige locatie zonder dat iedereen op tijd naar huis hoeft...lekker eten, lachen, feesten en misschien om een kampvuurtje zitten of relaxen in de sauna! Of spelen met Willem, want die gaat ook mee!
            </p>

            <h2 class="title">Wat je op deze site kan vinden:</h2>

            <div class="icon-box wow fadeInUp">
              <!--<div class="icon"><i class="fa fa-info fa-lg"></i></div>-->
              <h4 class="title"><a href="#services">Algemene informatie over ons weekend</a></h4>
              <p class="description">Onze planning en updates zullen op deze site te zien zijn!</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
              <!--<div class="icon"><i class="fa fa-user-circle-o fa-lg"></i></div>-->
              <h4 class="title"><a href="#portfolio">Genodigden</a></h4>
              <p class="description">Iedereen die deze link heeft ontvangen kan zichzelf bij de genodigden plaatsen. Voeg jezelf <a href= "#portfolio">nu</a> toe!</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              <!--<div class="icon"><i class="fa fa-user-circle-o fa-lg"></i></div>-->
              <h4 class="title"><a href="#contact">Contact</a></h4>
              <p class="description">Heb je nog vragen? Je kunt dan <a href= "#contact">hier</a> alijd contact met ons opnemen.</p>
            </div>

          </div>

          <div class="col-lg-6 background order-lg-2 order-1 wow fadeInRight"></div>
        </div>

      </div>
    </section><!-- #about -->

    <!--==========================
      Facts Section
    ============================-->
    <section id="facts">
      <div class="container wow fadeIn">
        <div class="section-header">
          <h3 class="section-title">Feitjes</h3>
          <!--<p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>-->
        </div>
        <div class="row counters">


          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">2</span>
            <p>Lovers</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">34.5</span>
            <p>Jaar samen</p>
          </div>

  				<div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">50</span>
            <p>Zomers jong</p>
  				</div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">60</span>
            <p>Feest vierders!</p>
  				</div>

  			</div>

      </div>
    </section><!-- #facts -->

    <!--==========================
      Services Section
    ============================-->
    <section id="services">
      <div class="container wow fadeIn">
        <div class="section-header">
          <h3 class="section-title">Het weekend</h3>
          <p class="section-description">Hieronder de planning van ons weekend!</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="box">
              <div class="icon"><a href=""><i class="fa fa-car"></i></a></div>
              <h4 class="title">Zaterdag 24 maart</h4>
              <p class="description">Iedereen is vanaf 12.30 welkom op het landgoed Herou! Er wacht een lekker taartenbuffet op jullie en iedereen kan de spulletjes uitpakken of beetje rondkijken.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
            <div class="box">
              <div class="icon"><a href=""><i class="fa fa-photo"></i></a></div>
              <h4 class="title">14.30</h4>
              <p class="description">De liefhebbers kunnen samen met ons een wandeling maken door de prachtige omgeving. Weer terug kunnen we de degens kruisen bij een pubquiz en/ of wat relaxen bij de open haard of in de sauna...</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
            <div class="box">
              <div class="icon"><a href=""><i class="fa fa-cutlery"></i></a></div>
              <h4 class="title">19.00</h4>
              <p class="description">Nu is het tijd om lekker te eten. Petra en Monique (fantastisch cateringteam) verzorgen een walking dinner: ze serveren lekkere gerechtjes uit, die je kan aanvullen met lekkere hapjes die op een tafel zijn uitgestald.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="box">
              <div class="icon"><a href=""><i class="fa fa-music"></i></a></div>
              <h4 class="title"><a href="">Na het eten</a></h4>
              <p class="description">Met de buik vol kunnen de voetjes van de vloer en gaan we feesten!!! De muziek wordt verzorgd door TimoV, tot in de vroege uurtjes!</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
            <div class="box">
              <div class="icon"><a href=""><i class="fa fa-sun-o"></i></a></div>
              <h4 class="title"><a href="">Zondag 25 maart</a></h4>
              <p class="description">De volgende ochtend staat er een heerlijk ontbijt klaar! De rest van de dag kan iedereen zelf bedenken wat nog te doen: stadje bezoeken, wandelen, mountainbiken, of nog lekker blijven hangen op het landgoed. </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
            <div class="box">
              <div class="icon"><a href=""><i class="fa fa-road"></i></a></div>
              <h4 class="title"><a href="">16.00</a></h4>
              <p class="description"> Na deze tijd moeten we er uiterlijk uit zijn... Aan alle leuke dingen komt een eind...</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- #services -->

    <!--==========================
      Team Section
    ============================-->
    <section id="team">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h3 class="section-title">Team</h3>
          <p class="section-description">Hier het team dat ons dit weekend zal verzorgen van het lekkerste eten en de leukste deuntjes!</p>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="{% static 'img/team-dj.jpg' %}" alt=""></div>
              <h4>DJ TimoV</h4>
              <span>DJ</span>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="{% static 'img/team-catering1.jpg' %}" alt=""></div>
              <h4>Petra Doruiter</h4>
              <span>Catering</span>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="{% static 'img/team-catering2.jpg' %}" alt=""></div>
              <h4>Monique Borsetti</h4>
              <span>Catering</span>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="{% static 'img/team-willem.jpg' %}" alt=""></div>
              <h4>Willem</h4>
              <span>Feestbeest</span>
            </div>
          </div>

      </div>
    </section><!-- #team -->

    <!--==========================
      Portfolio Section
    ============================-->
    <section id="portfolio">
      <div class="container wow fadeIn">
        <div class="section-header">
          <h3 class="section-title">Genodigden</h3>
          <p class="section-description">Hieronder een lijst van alle mensen die ons feest zullen bijwonen!</p>
        </div>
          <div class="card-deck">
            {% for post in posts %}
            <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item wow fadeInUp pb-4" data-wow-delay="0.1s">
              <div class="card h-100">
                {% if post.avatar %}
                <img class="card-img-top" src="{{ post.avatar.url }}" alt="" id="avatar">
                {% else %}
                <img class="card-img-top" src="{% static 'img/profile.png' %}" alt="" id="avatar-d">
                {% endif %}

                <div class="card-body">
                  <h4 class="card-title titel">
                    {{ post.naam }}
                  </h4>
                <div class="tekst">
                <p> {{ post.text }} </p>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><strong>e-mail:</strong></br> {{ post.email }}</li>
                  <li class="list-group-item"><strong>Relatie:</strong></br> {{ post.relatie }}</li>
                </ul>
              </div>
            </div>
          </div>
          </div>
        {% endfor %}
      </div>
      </div>
    </section><!-- #portfolio -->

    <!--==========================
    Call To Action Section
    ============================-->
    <section id="call-to-action">
      <div class="container wow fadeIn">
        <div class="row">
          <div class="col-lg-5 text-center text-lg-left">
            <h3 class="cta-title">Meld je ook aan!</h3>
            <p class="cta-text">Vul hier jouw gegevens in en klik op verzend. Zo wordt jij ook zichtbaar bij de genodigden!</p>
          </div>

          <div class="col-lg-6 col-md-8 float-lg-right">
            <div class="form">
              <!--<div id="sendmessage">Your message has been sent. Thank you!</div>
              <div id="errormessage"></div> -->
              <!--
              <form action="" method="post" role="form" class="contactForm">
                <div class="form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Uw naam" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Uw E-mail" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="relatie" id="relatie" placeholder="Relatie t.o.v Maarten & Anja" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="2" data-rule="required" data-msg="Please write something for us" placeholder="Kort bericht voor Maarten & Anja"></textarea>
                  <div class="validation"></div>
                </div>
                <div class="text-center"><button type="submit">Send Message</button></div>
              </form>
              -->

              <form method="POST" class="post-form">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="save btn btn-default">Save</button>
              </form>

            </div>
          </div>

        </div>

      </div>
    </section><!-- #call-to-action -->


    <!--==========================
      Team Section
    ============================-->
    <section id="team">
      <div class="container wow fadeInUp">
        <div class="row">
          <div class="col-lg-7">
            <div class="embed-responsive embed-responsive-16by9 map-container mb-4 mb-lg-0">
              <!--My Google API to create a map AIzaSyAq0M7IhzDg9PniSj7KNg5dRIMDNvmQLq8-->
              <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed/v1/place?q=Ardennen%20Landgoed%20Le%20Herou%2C%20rue%20de%2057%20nisramont%2C%20BE%206983%20Belgi%C3%AB%2C%206983%20Nisramont%20La%20Roche%20Belgi%C3%AB%2C%20Belgi%C3%AB&key=AIzaSyDWfyytOa6XMVvTm7k-C2J9pnVpdIdTp3g"></iframe>
            </div>
          </div>
          <div class="col-lg-5 col-md-4">
          <div class="section-header">
            <h3 class="section-title">Locatie</h3>
            </div>
            <!--<i class="fa fa-map-marker"></i>-->

            <p class ="mt-5 text-center">Ardennen Landgoed Le herou <br>rue de 57 nisramont<br>6983 Nisramont La Roche België <br><a href="https://www.landgoedardennen.be/">https://www.landgoedardennen.be/</a></p>
            <p class ="mt-1 text-center"> Voor iedereen is er een gedekt bedje. <br> Handdoeken svp wel zelf meenemen.</p>
        </div>
          </div>
        </div>
    </div>
    </section><!-- #team -->

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h3 class="section-title">Contact</h3>
          <p class="section-description">Iedereen die nog vragen heeft kan altijd contact met ons opnemen! Dat kan via de volgende adressen:</p>
        </div>
      </div>
      <div class="container wow fadeInUp">
        <div class="row justify-content-center">
          <div class="col-lg-3 col-md-4">
            <div class="info">
              <div>
                <i class="fa fa-envelope"></i>
                <p>maarten.kwaks@klm4u.com</p>
              </div>

              <div>
                <i class="fa fa-envelope"></i>
                <p>a.dumoulin@live.nl</p>
              </div>

              <div>
                <i class="fa fa-phone"></i>
                <p>0418-516930</p>
              </div>
            </div>
          </div>

          <!--<div class="col-lg-5 col-md-8">
            <div class="form">
              <div id="sendmessage">Your message has been sent. Thank you!</div>
              <div id="errormessage"></div>
              <form action="" method="post" role="form" class="contactForm">
                <div class="form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                  <div class="validation"></div>
                </div>
                <div class="text-center"><button type="submit">Send Message</button></div>
              </form>
            </div>-->
          </div>

        </div>

      </div>
    </section><!-- #contact -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Regna</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Regna
        -->
        Bootstrap Templates by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'lib/wow/wow.min.js' %}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWfyytOa6XMVvTm7k-C2J9pnVpdIdTp3g"></script>

  <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
  <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'lib/superfish/hoverIntent.js' %}"></script>
  <script src="{% static 'lib/superfish/superfish.min.js' %}"></script>

  <!-- Contact Form JavaScript File -->
  <script src="{% static 'contactform/contactform.js' %}"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>
</html>
